<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.notebook.reminders</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/opt/php@8.1/bin/php</string>
        <string>/Applications/XAMPP/xamppfiles/htdocs/tools/notebook/notify.php</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/notebook-reminders.err</string>
</dict>
</plist>
